{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>
</head>
    <body>

    <div class="Signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}
                <div class="heading">
                    Signup
                </div>
                <div class="line"></div>
                <div class="field">
                    <b>Username</b>
                    <input type="text>" class=""inp placeholder="Enter Your Username" name="fnm" required>
                </div>
                <div class="field">
                    <b>Email</b>
                    <input type="email" class="inp" name="email" required>
                </div>
                <div class="field">
                    <b>Password</b>
                    <input type="password" class="inp" name="pwd" required>
                </div>
                <div class="field">
                    <input type="submit" class="submit-button" value="Signup">
                </div>
            </form>
            <div class="field">
                <b> Already Have An Account?</b>
                <br>
                <a class="anc"href="/login"></a>
            </div>
        </div>
    </div>
</body>
</html>